---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "About Me"
const identity = {
	name: "Pravin",
	country: "Bharat",
	occupation: "Developer",
	hobbies: ["Bingewatching", "Coding", "Travelling"],
	skills: ["Web Development", "React.JS", "Programming Languages", "Arduino"]
}
const happy = true
const finished = true
const goal = 3

const skillColor = "navy"
const fontWeight = "bold"
const textCase = "uppercase"
---
<style define:vars={{skillColor, fontWeight, textCase}}>
	.skill {
		color: var(--skillColor);
		font-weight: var(--fontWeight);
		text-transform: var(--textCase);
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<h2>Here are a few facts about me!</h2>
	<ul>
		<li>My name is {identity.name}.</li>
		<li>I live in {identity.country}.</li>
		<li>I am a {identity.occupation}.</li>
		<li>My hobbies are {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}</li>
		<li>
			My skills include:
			<ul>
				{identity.skills.map((skill) => <li class="skill">{skill}</li>)}
			</ul>
		</li>
	</ul>
	{happy && <p>I am happy to be learning astro</p>}
	{finished && <p>I have finished this tutorial</p>}
	{goal === 3 ? <p>My goal is to finish this in 3 days</p> : <p>My goal is not to finish this in 3 days</p>}
</BaseLayout>
	